<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:p="http://primefaces.org/ui">
<h:head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css"/>

    <title>list</title>

</h:head>
<h:body>

    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="list.xhtml">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="create.xhtml">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="delete.xhtml">Delete</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="update.xhtml">Update</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="find.xhtml">Find</a>
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <h2>Lista Proveedores</h2>
            </div>
        </div>

        <!-- Tabla -->
        <div class="row">
            <p:dataTable class="thead-light" var="proveedor" value="#{ProveedorController.listaEntidades}" >
                <p:column headerText="ID">
                    <h:outputText value="#{proveedor.id}" />
                </p:column>

                <p:column headerText="Nombre">
                    <h:outputText value="#{proveedor.nombre}" />
                </p:column>
                
                <p:column headerText="Telefono">
                    <h:outputText value="#{proveedor.telefono}" />
                </p:column>

                <p:column headerText="Direccion">
                    <h:outputText value="#{proveedor.direccion}" />
                </p:column>

                <p:column headerText="Ciudad">
                    <h:outputText value="#{proveedor.ciudad}" />
                </p:column>

                <p:column headerText="Email">
                    <h:outputText value="#{proveedor.email}" />
                </p:column>

                <p:column headerText="Empresa">
                    <h:outputText value="#{proveedor.nombreEmpresa}" />
                </p:column>

                <p:column headerText="Productos">
                    <h:outputText value="#{proveedor.productos}" />
                </p:column>
            </p:dataTable>
        </div>

    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</h:body>

</html>