<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
              crossorigin="anonymous"/>

        <title>Amasoft</title>

    </h:head>
    <h:body>
        <div class="container">
            <!-- Encabezado -->
            <div class="row">
                <h1>Listado de Usuarios</h1>
            </div>
            <!-- Tabla -->
            <div class="row">
                <p:dataTable var="usuario" value="#{UsuarioController.listaEntidades}" >
                    <p:column headerText="Id del Usuario">
                        <h:outputText value="#{usuario.id}" />
                    </p:column>

                    <p:column headerText="Nombre del usuario">
                        <h:outputText value="#{usuario.nombre}" />
                    </p:column>
                    
                    <p:column headerText="Correo del usuario">
                        <h:outputText value="#{usuario.correo}" />
                    </p:column>

                    <p:column headerText="Contraseña del usuario">
                        <h:outputText value="#{usuario.contrasenia}" />
                    </p:column>
                </p:dataTable>
            </div>
            <!-- Botones -->
            <div class="row">
                <div class="col-6">
                    <h:link value = "Crear nuevo Usuario" outcome = "crear" />
                    <h:link value = "Actualizar Usuario" outcome = "actualizar" />
                    <h:link value = "Borrar Usuario" outcome = "delete" />                  
                </div>
                
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </h:body>

</html>
