<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
              crossorigin="anonymous"/>

        <title>Proyecto Amasoft (USUARIOS)</title>

    </h:head>
    <h:body>
        <ul class="nav nav-tabs justify-content-center">

            <li class="nav-item">
                <a class="nav-link active" href="crear.xhtml">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="delete.xhtml">Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="actualizar.xhtml">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mostrar.xhtml">Find</a>
            </li>
        </ul>         
        <div class="container">
            <!-- Encabezado -->
        <div class="row">
            <div class="mx-auto">
                <h2>Usuario</h2>
            </div>
        </div>
            <h:form>
            <!-- Formulario -->
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="form-group">
                        <h:outputLabel for="txtID" value="Id del usuario" />
                        <p:inputText class="form-control" id="txtID"
                            value="#{UsuarioController.idEntidadBuscada}" />
                    </div>
                </div>
            </div>  
            <!-- Botones -->
           <div class="row">
                <div class="mx-auto">
                    <p:commandButton class="btn btn btn-outline-success" id="btnMostrarid"
                        value="Mostrar registro" action="#{UsuarioController.findByID()}" ajax="false" />
                    <p:commandButton class="btn btn btn-link" id="btnRegresar" value="Regresar al listado"
                        action="#{UsuarioController.regresarListado()}" ajax="false" />
                    <p:outputLabel value="#{UsuarioController.mensajeError}" />
                </div>                
            </div>  
            </h:form>
        </div>          
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </h:body>

</html>

