<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        Este proyecto tiene la finalidad de ser un proyecto de prueba para ejemplificar
        el uso de las tecnologías:<br/>
        <ul>
            <li>JSF (incluyendo los backing beans como Controllers)</li>
            <li>CDI</li>
            <li>Tomcat (como el servidor de páginas web a usar).</li>
        </ul>
        
        <h3>Usuario</h3>
        Actualmente se tienen estos Usuarios en la Base de Datos:<br/>
        ${infoInicialController.totalUsuario()}<br/>
        Da clic<a href="usuarios/crear.xhtml"> para crear un nuevo usuario </a><br/>
        Da clic<a href="usuarios/actualizar.xhtml"> para actualizar un usuario </a><br/>
        Da clic<a href="usuarios/delete.xhtml"> para Borrar un usuario </a><br/>
        Da clic<a href="usuarios/mostrar.xhtml"> Buscar por ID </a>
       
       <br/>
       <h3>Producto</h3>
       Actualmente se encuentran estos Productos en la base de datos:<br/>
       Da clic<a href="producto/create.xhtml"> para crear</a><br/>
       Da clic<a href="producto/delete.xhtml"> para borrar</a><br/>
       Da clic<a href="producto/update.xhtml"> para actualizar</a><br/>
       Da clic<a href="producto/findById.xhtml"> buscar por ID</a>
       
       <br/>
       <h3>Compra</h3>
       Actualmente se encuentran estas compras en la base de datos:<br/>
       Da clic<a href="compra/create.xhtml"> para crear</a><br/>
       Da clic<a href="compra/delete.xhtml"> para borrar</a><br/>
       Da clic<a href="compra/update.xhtml"> para actualizar</a><br/>
       Da clic<a href="compra/find.xhtml"> buscar</a>
    </h:body>
</html>